body {
  margin: 0;
  font-family: Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(0, 255, 21);
  background-color: rgb(56, 56, 56);
  padding: 1rem 2rem;
}

a {
  color: rgb(0, 175, 15);
}

a:visited {
  color: rgb(0, 128, 0);
}